*{
  margin: 0;
  padding: 0;
}

.evento img{
  width: 500px;
  border-radius: 30px;
}

.evento{
  display: flex;
  justify-content: space-around;
  padding: 30px;
  align-items: center;
}
.galeria{
  display: flex;
  flex-wrap: wrap;
  padding-inline-start: 30px 80px;
  justify-content: center;
  gap: 10px;
}
.galeria img{
  width: 350px;
  height: 350px;
  object-fit: cover;
  transition: 1s;
}
footer{
  background-color: black;
  color: white;
}

@media screen and (max-width:600px){
  .evento{
    flex-direction: column;
    gap: 30px;
  }
  .evento img{
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
} 
header{
  background-color: #ccc;
  padding: 20px 80px;
}
header img{
  width: 120px;
}
@media screen and(max-width:600px) {
  header{
    display: flex;
    justify-content: center;
  }
}